:root {
    --main-color: #E24400;
}
a{
    text-decoration: none;
}
img{
    display: block;
    width: 100%;
}
.mc-slider-top img{
    height: 700px;
    object-fit: cover;
}
.mc-slider-top .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
}
.mc-slider-top .swiper-pagination-bullet-active{
    background: var(--main-color);
}
.mc-slider-top .swiper{
    overflow-y: auto;
}
.mc-slider-top .slider-top-cover{
    padding-bottom: 40px;
}
.mc-slider-top{
    margin-bottom: 10px;
}
.mc_highlight_product{
    padding: 48px 0;
}
.mc-chevron-right {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px;
  }
  .mc-chevron-right::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(-45deg);
    right: 6px;
    top: 6px;
  }
.mc_highlight_product .readmore-cover{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}
.mc_highlight_product .title-and-read-more{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 42px;
}
.mc_highlight_product .readmore-cover{
    font-size: 16px;
    text-decoration: none;
    color: var(--main-color);
}
.mc_home_abu{
    padding: 79px 0;
    background: #F8F8F8;
}
.abs-home-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.abs-home-row .left{
    flex: 0 0 50%;
    max-width: 49%;
    width: 100%;
}
.abs-home-row .right{
    flex: 0 0 50%;
    max-width: 49%;
    width: 100%;
}
.mc_home_abu .title{
    margin-bottom: 16px;
}
.mc_home_abu .desc-1{
    color: #0F0F0F;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
}
.mc_home_abu .desc-2{
    color: #747475;
    font-size: 16px;
    margin-bottom: 20px;
    padding-left: 20px;
    border-left: 2px solid #A1A1AA;
}
.mc_home_abu .banner-abu-home{
    width: 80%;
    margin-left: auto;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}
.mc_home_abu .right{
    position: relative;
}
.mc_home_abu .right .background-abu-home{
    position: absolute;
    width: 289px;
    height: auto;
    left: 0;
    bottom: -44px;
    z-index: 1;
}
.mc_home_abu .readmore a{
    display: block;
    text-decoration: none;
    width: 134px;
    border-radius: 17px;
    border: 1px solid #A7A7A8;
    background: #FFF;
    color: #0F0F0F;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    padding: 7px 7px;
}
.readmore-cover{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}
.title-and-read-more{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 42px;
}
.readmore-cover{
    font-size: 16px;
    text-decoration: none;
    color: var(--main-color);
}
.news_home{
    padding: 48px 0;
}
.news_home .list-news-home{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.news_home .list-news-home .item{
    flex: 0 0 33.33%;
    max-width: 33%;
    width: 100%;
}
.news_home .list-news-home .item-big{
    flex: 0 0 66.67%;
    max-width: 66%;
    width: 100%;
}
.news_home .list-news-home img{
    height: 450px;
    object-fit: cover;
    border-radius: 20px;
}
.news_home .list-news-home .item-chu{
    position: relative;
    margin-bottom: 15px;
}
.news_home .list-news-home .item-chu .cover-info-news{
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
    border-radius: 0 0 20px 20px;
    padding: 16px;
    width: 100%;
    height: auto;
}
.news_home .list-news-home .item-chu .title-news{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 8px;
}
.news_home .list-news-home .item-chu .arrow-news{
    position: absolute;
    right: 12px;
    bottom: 12px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    z-index: 2;
}
.news_home .list-news-home .item-chu .desc{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    line-height: 24px;
}
.mc_partner_home{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 48px 0;
}
.mc_partner_home .title-page{
    margin-bottom: 40px;
}
.mc_partner_home .swiper-button-prev{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 6px #8080806b;
    left: -60px;
}
.mc_partner_home .swiper-button-next{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 6px #8080806b;
    right: -60px;
}
.mc_partner_home .swiper-button-next:after, .mc_partner_home .swiper-button-prev:after{
    font-size: 16px;
    font-weight: 700;
}
.slide-partner-cover{
    position: relative;
}
.maps_home{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 48px 0;
}
.maps_home .address{
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 16px;
}
.maps_home .maps iframe{
    display: block;
    width: 100%;
    height: 450px;
    border-radius: 20px;
}
.footer-container{
    width: 848px;
    margin: 0 auto;
}
.f-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.mc_footer .contact-footer{
    padding: 48px 0;
    border-bottom: 1px solid #DEDFE0;
}
.f-row .left{
    flex: 0 0 50%;
    max-width: 48%;
    width: 100%;
}
.f-row .right{
    flex: 0 0 50%;
    max-width: 48%;
    width: 100%;
}
.mc_footer .title-page{
    margin-bottom: 20px;
}
.mc_footer .desc-footer{
    color: #52525B;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
.mc_footer .one-item-contact{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}
.mc_footer .one-item-contact .left-ct{
    flex: 0 0 13%;
    max-width: 13%;
    width: 100%;
}
.mc_footer .one-item-contact .left-ct img{
    max-width: 40px;
}
.mc_footer .one-item-contact .right-ct{
    flex: 0 0 87%;
    max-width: 87%;
    width: 100%;
}
.mc_footer .one-item-contact .sub-title{
    color: var(--main-color);
    font-size: 14px;
}
.mc_footer .one-item-contact .main-ct{
    color: #181818;
    font-size: 16px;
    font-weight: 600;
}
.mc_footer .f-row .right .inpt input{
    display: block;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    background: #F2F3F5;
    outline: none;
    border: 1px solid #fff;
    font-size: 14px;
}
.mc_footer .f-row .right .inpt textarea{
    display: block;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    background: #F2F3F5;
    outline: none;
    border: 1px solid #fff;
    font-size: 14px;
    height: 90px;
}
.mc_footer .f-row .right .inpt{
    margin-bottom: 12px;
}
.handle-sub-form{
    border-radius: 8px;
    background: #1A1A1A;
    width: 124px;
    text-align: center;
    padding: 12px;
    color: #fff;
    border: 1px solid #fff;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}
.sub-footer .sub-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px 0;
    border-bottom: 1px solid var(--main-color);
}
.sub-footer .logo-footer{
    flex: 0 0 10%;
    max-width: 10%;
    width: 100%;
}
.sub-footer .txt-sub{
    flex: 0 0 40%;
    max-width: 40%;
    width: 100%;
    border-left: 1px solid #E6E8EC;
    padding-left: 36px;
    font-size: 14px;
}
.sub-footer .menu-sub-footer{
    flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
}
.sub-footer .logo-footer img{
    width: 97px;
}
.sub-footer .menu-sub-footer .menu{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.sub-footer .menu-sub-footer .menu li{
    list-style-type: none;
}
.sub-footer .menu-sub-footer .menu li a{
    padding: 10px 20px;
    color: #0F0F0F;
    font-size: 14px;
    font-weight: 600;
}
.sub-footer .menu-sub-footer .menu li a:hover{
    color: var(--main-color);
}
.cpyrig-social{
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.cpyrig-social .copyright{
    color: #0F0F0F;
    font-size: 12px;
    font-weight: 400;
}
.cpyrig-social .list-social-footer{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
}
.cpyrig-social .list-social-footer img{
    width: 20px;
}
.cpyrig-social .list-social-footer a{
    display: block;
    margin-left: 20px;
}
.abu_page .abu-page-row .title-page{
    margin-bottom: 25px;
}
.abu_page .abu-page-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.abu_page .abu-page-row .left{
    flex: 0 0 45%;
    max-width: 44%;
    width: 100%;
}
.abu_page .abu-page-row .right{
    flex: 0 0 55%;
    max-width: 53%;
    width: 100%;
}
.abu_page .abu-page-row .right img{
    border-radius: 16px;
}
.abu_page{
    padding: 40px 0;
}
.mc_content_intro{
    padding: 48px 0;
}
.mc_content_intro .content-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
    align-items: center;
}
.mc_content_intro .left-big{
    flex: 0 0 55%;
    max-width: 54%;
    width: 100%;
}
.mc_content_intro .right-sm{
    flex: 0 0 45%;
    max-width: 44%;
    width: 100%;
}
.mc_content_intro .right-big{
    flex: 0 0 55%;
    max-width: 54%;
    width: 100%;
}
.mc_content_intro .left-sm{
    flex: 0 0 45%;
    max-width: 44%;
    width: 100%;
}
.mc-service{
    padding-bottom: 48px;
}
.mc_header{
    position: relative;
    z-index: 999;
    background: #fff;
    transition: 0.3s all;
}
.head-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 24px 0;
}
.head-row .logo-head{
    flex: 0 0 20%;
    max-width: 20%;
    width: 100%;
}
.head-row .search-head{
    flex: 0 0 60%;
    max-width: 60%;
    width: 100%;
}
.head-row .hotline-head{
    flex: 0 0 20%;
    max-width: 20%;
    width: 100%;
}
.head-row .logo-head img{
    width: 160px;
}
.head-row .hotline-head a{
    border-radius: 21px;
    background: #F3551E;
    display: block;
    width: 122px;
    text-align: center;
    padding: 8px 5px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #fff;
    margin-left: auto;
}
.head-row .search-head input{
    border-radius: 21px 0px 0px 21px;
    border: 2px solid#F3551E;
    padding: 6px 16px;
    outline: none;
}
.head-row .search-head .search_form_page_wrap{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.head-row .search-head .search_submit_page_search_page{
    border-radius: 0px 21px 21px 0px;
    border: 2px #F3551E;
    background: #F3551E;
}
.head-row .search-head .mc-search-field{
    flex: 0 0 90%;
    max-width: 90%;
    width: 100%;
}
.head-row .search-head button{
    flex: 0 0 10%;
    max-width: 10%;
    width: 100%;
}
.mc-head-menu{
    padding-bottom: 24px;
}
.mc-head-menu .menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.mc-head-menu .menu li{
    list-style-type: none;
    margin: 0 20px;
}
.mc-head-menu .menu li.active a{
    border-bottom: 1px solid var(--main-color);
}
.mc-head-menu .menu li a{
    display: block;
    padding: 8px 16px;
    color: #5A5A5A;
    font-size: 16px;
    font-weight: 500;
}
.mc-head-menu .menu li a:hover{
    border-bottom: 1px solid var(--main-color);
}
.mc-head-menu .menu li .sub-menu{
    display: none;
}
.head-fix{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 998;
    box-shadow: 0px 1px 7px #80808063;
    transition: 0.3s all;
}
.head-fix-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 0;
}
.head-fix-row .logo-head img{
    width: 160px;
}
.head-fix-row .menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -16px;
}
.head-fix-row .menu li{
    list-style-type: none;
    margin-left: 20px;
}
.head-fix-row .menu li.active a{
    border-bottom: 1px solid var(--main-color);
}
.head-fix-row .menu li a{
    display: block;
    padding: 8px 16px;
    color: #5A5A5A;
    font-size: 16px;
    font-weight: 500;
}
.head-fix-row .menu li a:hover{
    border-bottom: 1px solid var(--main-color);
}
.head-mob{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: #fff;
    z-index: 999;
    box-shadow: 0px 1px 8px #8080804f;
}
.head-mob{
    padding: 16px;
}
.head-mob-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.logo-mob img{
    width: 120px;
}
.hot-mob a{
    font-size: 12px;
    border-radius: 30px;
    background: #F3551E;
    padding: 8px 16px;
    color: #fff;
}
.head-mob-row .handle-bar-mob{
    width: 50px;
    height: 50px;
    background: transparent;
    display: block;
    border: 0;
}
.menu-mob{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    height: 100%;
    z-index: 1000;
    padding: 32px;
    display: none;
}
.menu-mob .logo-mob-pop{
    width: 100px;
    display: block;
    margin-bottom: 40px;
}
.list-menu-mob .menu li{
    list-style-type: none;
}
.list-menu-mob .menu li a{
    font-size: 24px;
    font-weight: 600;
    color: #52525B;
    padding: 18px 0;
    display: block;
}
.list-menu-mob{
    margin-bottom: 40px;
}
.search-mob input{
    border-radius: 21px 0px 0px 21px;
    border: 2px solid#F3551E;
    padding: 6px 16px;
    outline: none;
}
.search-mob .search_form_page_wrap{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.search-mob .search_submit_page_search_page{
    border-radius: 0px 21px 21px 0px;
    border: 2px #F3551E;
    background: #F3551E;
}
.search-mob .mc-search-field{
    flex: 0 0 85%;
    max-width: 85%;
    width: 100%;
}
.search-mob button{
    flex: 0 0 15%;
    max-width: 15%;
    width: 100%;
}
.menu-mob .menu-mob-cover{
    padding-bottom: 20px;
    position: relative;
}
.menu-mob-cls{
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    border: 0;
    outline: none;
}
.mc-in-left{-webkit-animation:mc-in-left .6s cubic-bezier(.39,.575,.565,1.000) both;animation:mc-in-left .6s cubic-bezier(.39,.575,.565,1.000) both}
 @-webkit-keyframes mc-in-left{0%{-webkit-transform:translateX(-50px);transform:translateX(-50px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes mc-in-left{0%{-webkit-transform:translateX(-50px);transform:translateX(-50px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}
.page-template-contact .mc_footer{
    padding-top: 60px;
}
.mc-service-page{
    padding: 48px 0;
}
.mc-service-page .title-page{
    margin-bottom: 50px !important;
}
.mc_highlight_product .swiper-button-prev{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 6px #8080806b;
    left: -60px;
}
.mc_highlight_product .swiper-button-next{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 6px #8080806b;
    right: -60px;
}
.mc_highlight_product .swiper-button-next:after, .mc_highlight_product .swiper-button-prev:after{
    font-size: 16px;
    font-weight: 700;
}
.product-2light{
    position: relative;
}
.serivce-cover .swiper-button-prev{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 6px #8080806b;
    left: -60px;
    top: 60%;
}
.serivce-cover .swiper-button-next{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 6px #8080806b;
    right: -60px;
    top: 60%;
}
.serivce-cover .swiper-button-next:after, .serivce-cover .swiper-button-prev:after{
    font-size: 16px;
    font-weight: 700;
}
.serivce-cover{
    position: relative;
}