@media(max-width: 1550px) {
    .mc-slider-top img{
        height: 575px;
    }
    .sub-footer .txt-sub{
        flex: 0 0 34%;
        max-width: 34%;
    }
    .sub-footer .menu-sub-footer{
        flex: 0 0 56%;
        max-width: 56%;
    }
}
@media(max-width: 1366px) {
    .mc-slider-top img{
        height: 520px;
    }
    
}
@media(max-width: 1200px) {
    .mc-slider-top img{
        height: 430px;
    }
    .mc_home_abu .banner-abu-home{
        width: 95%;
        margin-top: 0px;
    }
    .mc_home_abu .right .background-abu-home{
        width: 200px;
        bottom: 6px;
    }
    .mc_home_abu .desc-1{
        font-size: 14px;
    }
    .mc_home_abu .desc-2{
        font-size: 14px;
    }
    .news_home .list-news-home img{
        height: 360px;
    }
    .mc_partner_home .swiper-button-prev{
        left: 0;
        box-shadow: 0px 0px 6px #808080f2;
    }
    .mc_partner_home .swiper-button-next{
        right: 0;
        box-shadow: 0px 0px 6px #808080f2;
    }
}
@media(max-width: 1024px) {
    .mc-slider-top img{
        height: 335px;
    }
    .mc_highlight_product .title-and-read-more .title-page{
        font-size: 30px;
    }
    .maps_home .maps iframe{
        height: 380px;
    }
    .sub-footer .logo-footer{
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 20px;
    }
    .sub-footer .txt-sub {
        flex: 0 0 50%;
        max-width: 50%;
        border-left: 0;
        text-align: right;
    }
    .sub-footer .menu-sub-footer{
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media(max-width: 876px) {
    .mc-slider-top img{
        height: 335px;
    }
    .abs-home-row .left{
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
    .mc_home_abu .right{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .mc_home_abu .right .background-abu-home{
        bottom: -32px;
    }
    .news_home .list-news-home .item{
        flex: 0 0 50%;
        max-width: 49%;
    }
    .news_home .list-news-home .item-big {
        flex: 0 0 50%;
        max-width: 49%;
    }
    .maps_home .maps iframe{
        height: 320px;
    }
    .footer-container{
        width: 95%;
        margin: 0 auto;
    }
    .abu_page .abu-page-row .left{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .abu_page .abu-page-row .right{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .mc_content_intro .left-big{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .mc_content_intro .right-sm{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .mc_content_intro .left-sm{
        flex: 0 0 100%;
        max-width: 100%;
        order: 2;
    }
    .mc_content_intro .right-big{
        flex: 0 0 100%;
        max-width: 100%;
        order: 1;
    }
}
@media(max-width: 768px) {
    .mc-slider-top img{
        height: 335px;
    }
}
@media(max-width: 576px) {
    .mc-slider-top img{
        height: 172px;
    }
    .mc_highlight_product .title-and-read-more .title-page{
        font-size: 22px;
        line-height: 28px;
    }
    .mc_highlight_product{
        padding: 15px 0 48px 0;
    }
    .abs-home-row .left .title{
        font-size: 26px;
        line-height: 28px;
    }
    .mc_home_abu{
        padding: 40px 0 79px 0;
    }
    .news_home .list-news-home .item{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .news_home .list-news-home .item-big {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .news_home .title-page{
        font-size: 22px;
        line-height: 28px;
    }
    .news_home .list-news-home img{
        height: 410px;
    }
    .mc_partner_home .title-page{
        font-size: 22px;
        line-height: 28px;
    }
    .maps_home .address{
        font-size: 18px;
        line-height: 26px;
        text-align: center;
    }
    .f-row .left{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .f-row .right {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
    }
    .sub-footer .logo-footer{
        flex: 0 0 32%;
        max-width: 32%;
        margin-bottom: 20px;
    }
    .sub-footer .txt-sub {
        flex: 0 0 68%;
        max-width: 68%;
        border-left: 0;
        text-align: right;
        margin-bottom: 20px;
    }
    .sub-footer .menu-sub-footer .menu{
        justify-content: center;
    }
    .mc_footer .title-page{
        font-size: 22px;
        line-height: 28px;
    }
    .mc_footer .desc-footer{
        font-size: 14px;
    }
    .mc_footer .one-item-contact .main-ct{
        font-size: 15px;
    }
    .handle-sub-form{
        font-size: 14px;
        padding: 10px 12px;
    }
    .abu_page{
        padding: 5px 0 40px 0;
    }
    .abu_page .abu-page-row .title-page{
        font-size: 22px;
        line-height: 28px;
    }
    .abu_page .desc{
        font-size: 15px;
    }
    .mc_content_intro .content-row{
        font-size: 15px;
        text-align: justify;
    }
}